on init
    write /sys/class/android_usb/android0/f_rndis/wceis 1

service qcom-usb-sh /system/bin/sh /init.qcom.usb.sh
    class core
    user root
    oneshot

service nubia_set /system/bin/sh /init.nubia.sh nubia
    class core
    user root
    disabled
    oneshot

service nubia_adb_set /system/bin/sh /init.nubia.sh nubia_adb
    class core
    user root
    disabled
    oneshot

# USB compositions
on property:sys.usb.config=nubia,adb
    start nubia_adb_set
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=nubia
    start nubia_set
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ptp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19D2
    write /sys/class/android_usb/android0/idProduct FFD1
    write /sys/class/android_usb/android0/functions ptp,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=ptp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19D2
    write /sys/class/android_usb/android0/idProduct FFD0
    write /sys/class/android_usb/android0/functions ptp
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19D2
    write /sys/class/android_usb/android0/idProduct FFCF
    write /sys/class/android_usb/android0/functions mtp,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mtp
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19D2
    write /sys/class/android_usb/android0/idProduct FFCE
    write /sys/class/android_usb/android0/functions mtp
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19D2
    write /sys/class/android_usb/android0/idProduct FFCD
    write /sys/class/android_usb/android0/functions mass_storage,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19D2
    write /sys/class/android_usb/android0/idProduct FFCC
    write /sys/class/android_usb/android0/functions mass_storage
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19D2
    write /sys/class/android_usb/android0/idProduct FFCB
    write /sys/class/android_usb/android0/functions rndis,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state $sys.usb.config

on property:sys.usb.config=rndis
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19D2
    write /sys/class/android_usb/android0/idProduct FFCA
    write /sys/class/android_usb/android0/functions rndis
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=modem,service,nema,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19D2
    write /sys/class/android_usb/android0/idProduct FFC9
    write /sys/class/android_usb/android0/f_serial/transports smd,tty,tty
    write /sys/class/android_usb/android0/f_serial/transport_names serial_hsic
    write /sys/class/android_usb/android0/functions serial,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=modem,service,nema
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19D2
    write /sys/class/android_usb/android0/idProduct FFC8
    write /sys/class/android_usb/android0/f_serial/transports smd,tty,tty
    write /sys/class/android_usb/android0/f_serial/transport_names serial_hsic
    write /sys/class/android_usb/android0/functions serial
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=modem,service,nema,mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19D2
    write /sys/class/android_usb/android0/idProduct FFC7
    write /sys/class/android_usb/android0/f_serial/transports hsic,tty,tty
    write /sys/class/android_usb/android0/f_serial/transport_names serial_hsic
    write /sys/class/android_usb/android0/functions serial,mass_storage,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=modem,service,nema,mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19D2
    write /sys/class/android_usb/android0/idProduct FFC6
    write /sys/class/android_usb/android0/f_serial/transports hsic,tty,tty
    write /sys/class/android_usb/android0/f_serial/transport_names serial_hsic
    write /sys/class/android_usb/android0/functions serial,mass_storage
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=diag,diag_mdm,mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19D2
    write /sys/class/android_usb/android0/idProduct FFC5
    write /sys/class/android_usb/android0/f_diag/clients diag,diag_mdm
    write /sys/class/android_usb/android0/functions diag,mass_storage,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=diag,diag_mdm,mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19D2
    write /sys/class/android_usb/android0/idProduct FFC4
    write /sys/class/android_usb/android0/f_diag/clients diag,diag_mdm
    write /sys/class/android_usb/android0/functions diag,mass_storage
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=diag,diag_mdm,modem,service,nema,mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19D2
    write /sys/class/android_usb/android0/idProduct FFC3
    write /sys/class/android_usb/android0/f_diag/clients diag,diag_mdm
    write /sys/class/android_usb/android0/f_serial/transports hsic,tty,tty
    write /sys/class/android_usb/android0/f_serial/transport_names serial_hsic
    write /sys/class/android_usb/android0/functions diag,serial,mass_storage,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=diag,diag_mdm,modem,service,nema,mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19D2
    write /sys/class/android_usb/android0/idProduct FFC2
    write /sys/class/android_usb/android0/f_diag/clients diag,diag_mdm
    write /sys/class/android_usb/android0/f_serial/transports hsic,tty,tty
    write /sys/class/android_usb/android0/f_serial/transport_names serial_hsic
    write /sys/class/android_usb/android0/functions diag,serial,mass_storage
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19D2
    write /sys/class/android_usb/android0/idProduct FFC1
    write /sys/class/android_usb/android0/functions adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=diag,mass_storage,adb
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19D2
    write /sys/class/android_usb/android0/idProduct FFC0
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions diag,mass_storage,adb
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=diag,mass_storage
    write /sys/class/android_usb/android0/enable 0
    write /sys/class/android_usb/android0/idVendor 19D2
    write /sys/class/android_usb/android0/idProduct FFAE
    write /sys/class/android_usb/android0/f_diag/clients diag
    write /sys/class/android_usb/android0/functions diag,mass_storage
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}
